<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "product.css" %>
<%= render "shared/header" %>
<%= render "shared/nav" %>

<h2 style = "text-align: center">Search Results for "<%= params[:q] %>"</h2>

<% if @products.empty? || @keywords.blank? %>
  <h3>No results found.</h3>
<% else %>
  <%= render "shared/product_listings" %>
<% end %>
<%= render "shared/footer" %>