<%= stylesheet_link_tag "product-listings.css" %>

<div class = "product-listings">

  <% @products.each do |product| %>

    <%# turn the whole div into a button to the product, similar method as the title-home button %>
    <%= link_to product do %>
      <div class = "product">
        <%= image_tag(product.featured_image) if product.featured_image.present? %>
        <h3><%= product.name %></h3>
        <span class = "category"><%= product.category.name %></span>
        <span class = "price">$<%= product.price %></span>
      </div>
    <% end %>

  <% end %>

</div>

<%= paginate @products %>