<%= stylesheet_link_tag "style.css" %>
<%= render "shared/header" %>
<%= render "shared/nav" %>

<h2 style = "text-align: center;">All Products</h2>

<%= render "shared/product_listings" %>

<%= render "shared/footer" %>