<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "product.css" %>
<%= render "shared/header" %>
<%= render "shared/nav" %>

<div class = "container">
  <%= image_tag(@product.featured_image) if @product.featured_image.present? %>

  <div class = "info">
    <h2><%= @product.name %></h2>
    <span class = "category"><%= @product.category.name %></span>
    <span class = "price">$<%= @product.price %></span>
    <p><%= @product.description %></p>
  </div>
</div>