<%= stylesheet_link_tag "style.css" %>
<%= render "shared/header" %>
<%= render "shared/nav" %>

<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<%= link_to "Home", :controller => :home, :action => :index %>
<br>

<ul>
  <li><%= @product.name %></li>
  <li><%= @product.price %></li>
  <li><%= @product.description %></li>
  <li><%= @product.slug %></li>
  <li><%= @product.category.name %></li>
</ul>

<br>

<%= image_tag(@product.featured_image) if @product.featured_image.present? %>

<br>
<%= link_to "Back", :back %>